[submodule "eternal-engine-graphics"]
	path = eternal-engine-graphics
	url = git@github.com:mevoroth/eternal-engine-graphics.git
[submodule "eternal-engine-utils"]
	path = eternal-engine-utils
	url = git@github.com:mevoroth/eternal-engine-utils.git
[submodule "eternal-engine-components"]
	path = eternal-engine-components
	url = git@github.com:mevoroth/eternal-engine-components.git
[submodule "eternal-engine-core"]
	path = eternal-engine-core
	url = git@github.com:mevoroth/eternal-engine-core.git
